*.sh text eol=lf
*.ps1 text eol=lf
*.sh -crlf diff eol=lf
*.ps1 -crlf diff eol=lf
*.sh -crlf diff eol=lf chmod=+x
*.ps1 -crlf diff eol=lf chmod=+x
dist/* -text
dist/* -crlf
dist/* -diff
dist/* binary chmod=+x
tests/results/* merge=ours
tests/results merge=ours