.git
.idea
venv
dist
PyKotor.egg-info
ignore
build/*
*.pyc
pykotor/gl
.vscode/launch.json
debug.log
pykotorcli.spec
pykotorcli.build/*
.history/*
*.heapsnapshot
*.cpuprofile
*.prof
.vscode/PythonImportHelper*.json
.vscode/launch.json
tests/tmp/*
tests/tslpatcher/tmp/*
