.git
.idea
venv
toolset/errorlog.txt
dist
build
/__main__.dist/
/__main__.build/
/__main__.onefile-build/
*.exe
*.spec
*.zip
dist-mac
dist-lin
dist-win
/toolset/help/
/toolset/kits/
build-windows.ps1
__pycache__
.idea
.git
PyKotorGL.egg-info
/pykotor/gl/window.py
PyKotor.egg-info
ignore
*.pyc
.history
*.heapsnapshot
*.cpuprofile
*.prof
.vscode/PythonImportHelper*.json
tests/tmp/*
tests/tslpatcher/tmp/*
output.prof
*.spec
errorlog.txt
*.log
EXE-*.toc
*.pkg
*.exe.manifest
*PYZ-*.pyz
base_library.zip
Analysis-*.toc
PKG-*.toc
Tree-*.toc
log_install_differ.log
logs/*
.vscode/PythonImportHelper-v2-Completion.json
nuitka_dist
pyinstaller.exe
tools/HolocronToolset/src/toolset/kits
