[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pykotor = {editable = true, path = "./Libraries/PyKotor"}
pykotor-font = {editable = true, path = "./Libraries/PyKotorFont"}
pykotor-gl = {editable = true, path = "./Libraries/PyKotorGL"}
utility = {editable = true, path = "./Libraries/Utility"}
holocron-toolset = {editable = true, path = "./Tools/HolocronToolset"}
holo-patcher = {editable = true, path = "./Tools/HoloPatcher"}
kotor-diff = {editable = true, path = "./Tools/KotorDiff"}
batch-patcher = {editable = true, path = "./Tools/BatchPatcher"}

[dev-packages]

[requires]
python_version = "3.8"
