[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[packages]
loggerplus = "*"

[dev-packages]
mypy = "*"
ruff = "*"
pylint = "*"
snakeviz = "*"
autoflake = "*"
pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
types-Pillow = "*"
types-Send2Trash = "*"
send2trash = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[project]
name = "pykotor-workspace"
version = "1.0.0"