certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
idna==3.3
PyKotor==1.5.4
PyKotorGL==1.2.2
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
requests==2.27.1
urllib3==1.26.8
watchdog==2.1.6
Pillow==9.0.1
numpy==1.22.2
Markdown==3.3.6
jsmin==3.0.1
requests==2.27.1
