#-r Tools/BatchPatcher/requirements.txt
-r Tools/HolocronToolset/requirements.txt
-r Tools/HoloPatcher/requirements.txt
-r Tools/HoloPatcher/recommended.txt
-r Libraries/PyKotor/requirements.txt
-r Libraries/PyKotor/recommended.txt
#-r Libraries/PyKotorGL/requirements.txt
#numpy  # numpy~=1.22 won't install on python 3.13. Seems to be an issue with Meson.
setuptools>=57.4.0
PyOpenGL~=3.1    # PyKotorGL ( might need 3.1.6 )
PyGLM>=2.0,<2.8  # PyKotorGL ( might need 2.5.7 )
#-r Libraries/PyKotorGL/optional.txt
-r Libraries/PyKotorFont/requirements.txt
# other development packages.
mypy
ruff
pylint
snakeviz
autoflake
pytest
pytest-xdist
pytest-html
aqtinstall
