#-r Tools/BatchPatcher/requirements.txt
-r Tools/HolocronToolset/requirements.txt
-r Tools/HoloPatcher/requirements.txt
-r Tools/HoloPatcher/recommended.txt
-r Tools/KotorDiff/requirements.txt
-r Libraries/PyKotor/requirements.txt
-r Libraries/PyKotor/recommended.txt
-r Libraries/PyKotorGL/requirements.txt
#-r Libraries/PyKotorGL/optional.txt
-r Libraries/PyKotorFont/requirements.txt
mypy
pylint
snakeviz
autoflake
pytest
pytest-xdist
pytest-html
#aqtinstall
types-Pillow
types-Send2Trash
send2trash