[build-system]
requires = [
    "setuptools>=67.8.0,<70",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name="HolocronToolset"
description="A PyQt5-backed program with a collection of tools and editors that make it easy to work with kotor files"
version="3.0.0b9"
requires-python = ">= 3.7"
dependencies = [
    "idna",  # Tested with 3.3
    "PyQt5~=5.15",
    "PyQt5-Qt5~=5.15",
    "PyQt5-sip~=12.10",
    "urllib3~=1.26",
    "watchdog>=2.1,<3.1",
    "Markdown>=3.3,<3.6",
    "jsmin~=3.0",
    "requests>=2.27,<2.32",
    "certifi==2021.10.8",
    "qtpy",
#    "pykotor>=1.7",
#    "pykotor[gl]>=1.7"
]
authors = [
  {name = "NickHugi"},
]
maintainers = [
  {name = "th3w1zard1", email = "halomastar@gmail.com"},
]
readme = {file = "README.md", content-type = "text/markdown"}
license = {text = "GPLv3 License"}
keywords = ["kotor", "pyqt5", "holocron", "toolset", "pykotor", "star", "wars", "starwars", "toolset", "toolkit", "opengl", "designer", "module", "modding", "dlgeditor", "AIO", "editor", "GFF"]

[project.urls]
Homepage = "https://github.com/NickHugi/PyKotor"
Documentation = "https://github.com/NickHugi/PyKotor/blob/master/README.md"
Repository = "https://github.com/NickHugi/PyKotor.git"
Issues = "https://github.com/NickHugi/PyKotor/issues"
#Changelog = "https://github.com/NickHugi/PyKotor/blob/master/CHANGELOG.md"

########################################################
## define only linter configurations below this point ##
########################################################

[tool.ruff]
extend = "../../pyproject.toml"

[tool.ruff.lint]
ignore = [
    "N",     # disable snake_case vs PascalCase/camelCase checks for pyqt5
]

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["ALL"]
".github/*py" = ["INP001"]
"__init__.py" = ["I001", "F401"]
"globalsettings.py" = ["I001", "F401"]
"./src/toolset/*.py" = ["FBT003", "N802", "N803", "N806", "A001"]
"./src/toolset/uic/*.py" = ["ALL"]  # uic's are auto-generated
"resources_rc.py" = ["ALL"]
".mdx" = ["ALL"]
".mdl" = ["ALL"]
"pykotor/resource/formats/ncs/compiler/*.py" = ["ALL"]

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false

[tool.ruff.lint.isort]
required-imports = ["from __future__ import annotations"]

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.mccabe]
max-complexity = 25

[tool.style]
based_on_style = "pep8"
split_before_named_assigns = true
split_complex_comprehension = true
split_arguments_when_comma_terminated = true

[tool.pylintrc]
max-line-length = 175
