idna  # Tested with 3.3
qtpy
PyQt5~=5.15
PyQt5-Qt5~=5.15
PyQt5-sip~=12.10
urllib3<=2  # Tested with 1.26.18
watchdog>=2.1 #,<3.1
Markdown>=3.3 #,<3.6
jsmin>=3
requests>=2.27 #,<2.32
certifi==2021.10.8
setuptools>=67.8.0,<70  # 70.0.0 and higher breaks pyinstaller
Pillow>=9.5
pycryptodome
jsonpickle
send2trash