name: Forward Commits to Bleeding-Edge

on:
  push:
    branches:
      - '*'
      - '!bleeding-edge'

jobs:
  merge:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip-edge]') == false

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Fetches all history for all branches and tags

    - name: Configure Git Identity
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"

    - name: Cherry-Pick to Bleeding-Edge
      run: |
        git checkout bleeding-edge
        git cherry-pick ${{ github.sha }}
        git push origin bleeding-edge